
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .mainContent {
  flex: 1;
  max-width: 60%;
  margin: auto;
  padding: 1rem;
  background: var(--card-background);
  border-radius: var(--border-radius);
  margin-bottom: 60px; 
  }